.Rproj.user
.Rhistory
*.RData
.Ruserdata
.DS_Store
~*
*.csv
*.jpg
Archive/*
Data\ Dictionaries/*
Raw\ Data/*
# MDI\ Data/*
Book*.xlsx
codebook_filter.R
ec_explanation.*
grant_blurb.txt
madc_integ_queries.R
madcbrain_postgresql.R